[worldserver]

###################################################################################################
##	Account Mounts module
###################################################################################################

## Enable the module? (1: true | 0: false)
Account.Mounts.Enable = 1

## Faction restricted mounts can't be account shared
Account.Mounts.StrictRace = 1

## Warlock/paladin/Death knight's mounts can't be account shared
Account.Mounts.StrictClass = 1
